<div class='input-group mx-auto mb-2 w-50 py-2 mb-2' name="listItem">
    <input type='text' class='form-control' value='<%=task.taskText%>'" readonly>
    <button class='input-group-text'>Claim</button>
</div>